# Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
etiquetas = ['a','b','c']
datos = [1,2,3]
pd.Series(data = datos, index = etiquetas)

a    1
b    2
c    3
dtype: int64

In [3]:
array = np.arange(7,10)
etiqueta = ['venta1','venta2','venta3']
serie1 = pd.Series(array,etiqueta)
serie1

venta1    7
venta2    8
venta3    9
dtype: int64

In [4]:
serie1['venta1']

7

In [5]:
serie1[1]

8

In [6]:
datos2 = ['informatica',300,'reloj',400]
pd.Series(datos2)

0    informatica
1            300
2          reloj
3            400
dtype: object

In [7]:
serie1 = pd.Series([1,2,3,4],['venta1','venta2','venta3','venta4'])
serie2 = pd.Series([5,6,7,8,9],['venta1','venta2','venta3','venta4','venta5'])
serie_suma = serie1 + serie2
serie_suma

venta1     6.0
venta2     8.0
venta3    10.0
venta4    12.0
venta5     NaN
dtype: float64