# Tratar valores nulos

In [1]:
import numpy as np
import pandas as pd

In [2]:
diccionario = {'A':[4,5,np.nan],'B':[6,1,5],'C':[np.nan,4,np.nan]}
dataframe = pd.DataFrame(diccionario)
dataframe

     A  B    C
0  4.0  6  NaN
1  5.0  1  4.0
2  NaN  5  NaN

In [3]:
dataframe.dropna()

     A  B    C
1  5.0  1  4.0

In [4]:
dataframe.dropna(axis=1)

   B
0  6
1  1
2  5

In [5]:
dataframe.fillna(value=95)

      A  B     C
0   4.0  6  95.0
1   5.0  1   4.0
2  95.0  5  95.0

In [6]:
dataframe

     A  B    C
0  4.0  6  NaN
1  5.0  1  4.0
2  NaN  5  NaN

In [7]:
valor_medio = dataframe.mean()
valor_medio

A    4.5
B    4.0
C    4.0
dtype: float64

In [9]:
dataframe.fillna(value=valor_medio)

     A  B    C
0  4.0  6  4.0
1  5.0  1  4.0
2  4.5  5  4.0