# Ficheros EXCEL

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_excel('ejemplo_excel.xlsx')
dataframe

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
dataframe['e'] = [20,21,22,23]
dataframe

    a   b   c   d   e
0   0   1   2   3  20
1   4   5   6   7  21
2   8   9  10  11  22
3  12  13  14  15  23

In [4]:
dataframe.to_excel('salida_excel.xlsx', sheet_name='Hoja1')