# Grabar DataFrame en una tabla SQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
diccionario = {'A':[1,2,3], 'B':[4,5,6]}
dataframe = pd.DataFrame(diccionario)
dataframe

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
engine = create_engine('sqlite:///:memory:')
dataframe.to_sql('tabla',engine, index=False)

In [4]:
datos_leidos_bd = pd.read_sql('tabla',con=engine)
datos_leidos_bd

   A  B
0  1  4
1  2  5
2  3  6